body {
   background-color:  #b3e5fc;
}

.input-field {
    margin-top: 20px;
}

.btn-large {
    margin-left: 10px;
    margin-top: -10px;
    width: 100%;
}

.bg{
    background-color: rgb(255,250,250, 0.4);
    padding: 10px;
    margin-bottom: 25px;
    text-align: center;
}

#moreBtn {
    margin-top: 10px;
    width: 80%;
}

